<div class="mainback">
  <ng-container style="min-width: 100%; min-height: 100%; z-index: 1; position: relative;" *ngIf="loading" >
    <div class="d-flex justify-content-center loading">
      <p class="loader" >Loading</p>
    </div>
  </ng-container>
  
  <div class = "container back">
    <div class="row">
        <div class="col d-flex justify-content-center">
          <h1 style="font-family:'Bebas Neue', cursive;" class="tag" >Council</h1>
        </div>
    </div>
  </div>
  
  <div>
    <div class="row d-flex justify-content-center" *ngFor="let t of tData">
      <div style="width: 100%;" class="row d-flex justify-content-center" >
            <p class="teamname">{{t.name}}</p>
      </div>
      
      <div style="width: 100%; " class="d-flex justify-content-center">
        <div class="mainrow">
          <ng-container *ngFor="let m of mData">
               <div *ngIf="m.team===t.name" class="shadow p-3" id="mycont">
    
                <div class="card bg-transparent text-white">
                  <img class="card-img h-100 d-inline-block myimg" src="{{m.image}}" alt="Card image" (load)="loading = false"/>
                  <div class="card-img-overlay d-flex align-items-end" >
                    <div>
                      <h5 class="card-title name">{{m.name}}</h5>
                    <p class="card-text name">{{m.position}}</p>
                    </div>
                  </div>
                </div>
              </div>      
          </ng-container>
        </div>
      </div>
  
    </div>
  </div>
</div>